@charset "UTF-8";
.border{
	border: 1px solid red;
}
.flex{
	display: flex;
}

.border_bottom{
	border-bottom: 1px solid #5b5b5b;
}

.inline {
	display: inline;
}

.between{
	justify-content: space-between;
}

form{
	margin-top: 50px;
	text-align: -webkit-center;
}

.info, .order-list, .pay-info{
	width: 90%;
	font-weight: bold;

}

.flex > p:first-child{
	margin-right: 30px;
	margin-bottom: 20px;
}


.flex > p {
	margin-top: 30px;
}

.order-list{
	margin-top: 50px;
	background-color: #e9e9e9;
}

.order-1{
	justify-content: space-around;
}

.menu1 {
    width: 200px;
    height: 200px;
    border-radius: 70%;
    overflow: hidden;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.menu1 > img {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-wrap{
	display: flex;

}


.title1 {
    font-size: 36px;
    font-weight: bold;
    width: 520px;
    text-align: -webkit-left;
    margin: auto;
}

#eng {
	font-size: 30px;
	color: #8c8c8c;
}

.pay-info{
	margin-top: 50px;
	background-color: #e9e9e9;
}

.pay-info > div > p:first-child{
	margin-left: 20px;
}

.pay-info > div > p:last-child{
	margin-right: 20px;
}

.button-area{
	margin-top: 50px;
    margin-bottom: 200px;
}

.button-area > button {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    border: 1px solid #8c8c8c;
}

.button-area > button > p {
	margin: auto;
	margin-right: -15px;	
}

.button-area > button > img {
    width: 100px;
    height: 100px;
    margin-right: auto;
}


