@charset "UTF-8";
.border{
	border: 1px solid red;
}
.flex{
	display: flex;
}

.border_bottom:not(:last-child) {
	border-bottom: 1px solid #a9a9a9;
}
.flex > p {
	display: flex;
	align-items: center;
	justify-content: center;
}
.inline {
	display: inline;
}

.between{
	justify-content: space-between;
}

form{
	margin-top: 50px;
	text-align: -webkit-center;
}

.info, .order-list, .pay-info,.plus{
	width: 90%;
    font-weight: bold;
    background-color: #fff;
    border-radius: 0.5em;
    padding: 0 1em;
}


.order-list{
	background-color: #e9e9e9;
}

.order-1{
	justify-content: space-around;
}

.menu1 {
    width: 200px;
    height: 200px;
    border-radius: 70%;
    overflow: hidden;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}


.menu1 > img {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-wrap{
	display: flex;

}


.title1 {
    font-size: 36px;
    font-weight: bold;
    width: 520px;
    text-align: -webkit-left;
    margin: auto;
}

#eng {
	font-size: 30px;
	color: #8c8c8c;
}

.pay-info{
	margin-top: 50px;
    background-color: #fff;
    border-radius: 0.5em;
    padding: 0 1em;
}
.flex > .left {
	margin: 1.5em 0;
	min-width: 20%;
}
.flex > .right {
	margin: 1.5em 0;
    font-size: 0.8em;
}
.pay-info > div > p:first-child{
}

.pay-info > div > p:last-child{
}

.button-area{
	margin-top: 50px;
    margin-bottom: 200px;
}

.button-area > button {
   font-size: 1.5em;
    display: flex;
    border: none;
    background-color: #e52143;
    color: #fff;
    border-radius: 0.3em;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.1em 0.1em 0.5em 0 #999;
}


.button-area > button > img {
    width: 2.5em;
    filter: brightness(0) invert(1);
}
.plus{
	margin-top: 20px;
	padding-bottom: 20px;
	font-size: 32px;
}

.plus > a {
	padding: 20px;
}



.border{
	border: red 0px solid;
}

.blind{
	visibility: hidden;
}


.listLi-count{
	display: flex;
    align-items: center;
    height: 32px;
    overflow: hidden;
    margin-top:10px;
}

.listLi-count a {
	width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
}

.listLi-count a::before{
	content: "";
    width: 22px;
    height: 2px;
    background: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btnUp::after {
	content: "";
    width: 2px;
    height: 22px;
    background: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.quantity{
	width: 42px;
    height: 50px;
    font-size: 36px;
    text-align: center;
    white-space: nowrap;
    outline: none;
}


.btn_del{
	position: absolute;
    margin-left: 500px;
    width: 50px;
    height: 50px;
    font-size: 28px;
    background: none;
    border: none;
    font-weight: bold;

}

