<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/my-layout::layout(~{this::head}, ~{this::main})}">
<head>
<link rel="stylesheet" href="/css/map/searchstore.css">
<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0b4d10c092ae135f954caef18aff79de&libraries=services"></script>
<script defer src=/js/search-store/searsearch-store.js>
</script>
</head>
<body>
	<main>
		<div id="map" style="width: 100%; height: 700px;"></div>
		<div id="menu_wrap" class="search">
			<div class="option">
				<div class="search">
					<form onsubmit="searchPlaces(); return false;">
						매장검색 : <input class="input" type="text" id="keyword" size="15">
						<button class="btn" type="submit">
							<span class="btn">찾기</span>
						</button>
					</form>
				</div>
			</div>
			<hr>
			<ul id="placesList"></ul>
			<div id="pagination"></div>
		</div>
	</main>
</body>
</html>