<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/my-layout::layout(~{this::head}, ~{this::main})}">
<head>
	<link rel="stylesheet" href="/css/order/list.css">
</head>
<body>
	<main>
		<div class="content">
			<ul class="nav">
				<li class="box" th:each="dto : ${list}">
					<div class="box_hd">
						<div class="left">
							<span th:text="${#temporals.format(dto.orderDateTime, 'yyyy.MM.dd (E)')}"></span>
							<span>[[${dto.orderState}]]</span>
						</div>
						<div class="right">
							<a href="#">
								<span>주문상세</span>
							</a>
						</div>
					</div>
					<div class="box_md">
						<div class="img_area">
							<img src="/images/icon/home.svg">
						</div>
						<div class="box_content">
							<h1 class="content_title">
								[[${dto.storeName}]]
							</h1>
							<div class="content_content">
								<span>[[${dto.itemName}]]</span>
								<br>
								<span>[[${#numbers.formatInteger(dto.tot, 1, 'COMMA')}]]원</span>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</main>
</body>
</html>