<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/my-layout::layout(~{this::head}, ~{this::main})}">
<head>
	<link rel="stylesheet" href="/css/order/list.css">
</head>
<body>
	<main>
		<div class="content">
			<ul class="nav">
				<li class="box">
					<div class="box_hd">
						<div class="left">
							<span>2024.11.6 (월)</span>
							<span>배달완료</span>
						</div>
						<div class="right">
							<a href="#">
								<span>주문상세</span>
							</a>
						</div>
					</div>
					<div class="box_md">
						<div class="img_area">
							<img src="/images/icon/home.svg">
						</div>
						<div class="box_content">
							<h1 class="content_title">
								노원점
							</h1>
							<div class="content_content">
								<span>불티훈제치킨 1개</span>
								<span>23,000원</span>
							</div>
						</div>
					</div>
				</li>
				<li class="box">
					<div class="box_hd">
						<div class="left">
							<span>2024.11.6 (월)</span>
							<span>배달완료</span>
						</div>
						<div class="right">
							<a href="#">
								<span>주문상세</span>
							</a>
						</div>
					</div>
					<div class="box_md">
						<div class="img_area">
							<img src="/images/icon/home.svg">
						</div>
						<div class="box_content">
							<h1 class="content_title">
								노원점
							</h1>
							<div class="content_content">
								<span>불티훈제치킨 1개</span>
								<span>23,000원</span>
							</div>
						</div>
					</div>
				</li>
				<li class="box">
					<div class="box_hd">
						<div class="left">
							<span>2024.11.6 (월)</span>
							<span>배달완료</span>
						</div>
						<div class="right">
							<a href="#">
								<span>주문상세</span>
							</a>
						</div>
					</div>
					<div class="box_md">
						<div class="img_area">
							<img src="/images/icon/home.svg">
						</div>
						<div class="box_content">
							<h1 class="content_title">
								노원점
							</h1>
							<div class="content_content">
								<span>불티훈제치킨 1개</span>
								<span>23,000원</span>
							</div>
						</div>
					</div>
				</li>
				<li class="box">
					<div class="box_hd">
						<div class="left">
							<span>2024.11.6 (월)</span>
							<span>배달완료</span>
						</div>
						<div class="right">
							<a href="#">
								<span>주문상세</span>
							</a>
						</div>
					</div>
					<div class="box_md">
						<div class="img_area">
							<img src="/images/icon/home.svg">
						</div>
						<div class="box_content">
							<h1 class="content_title">
								노원점
							</h1>
							<div class="content_content">
								<span>불티훈제치킨 1개</span>
								<span>23,000원</span>
							</div>
						</div>
					</div>
				</li>
				<li class="box">
					<div class="box_hd">
						<div class="left">
							<span>2024.11.6 (월)</span>
							<span>배달완료</span>
						</div>
						<div class="right">
							<a href="#">
								<span>주문상세</span>
							</a>
						</div>
					</div>
					<div class="box_md">
						<div class="img_area">
							<img src="/images/icon/home.svg">
						</div>
						<div class="box_content">
							<h1 class="content_title">
								노원점
							</h1>
							<div class="content_content">
								<span>불티훈제치킨 1개</span>
								<span>23,000원</span>
							</div>
						</div>
					</div>
				</li>
				<li class="box">
					<div class="box_hd">
						<div class="left">
							<span>2024.11.6 (월)</span>
							<span>배달완료</span>
						</div>
						<div class="right">
							<a href="#">
								<span>주문상세</span>
							</a>
						</div>
					</div>
					<div class="box_md">
						<div class="img_area">
							<img src="/images/icon/home.svg">
						</div>
						<div class="box_content">
							<h1 class="content_title">
								노원점
							</h1>
							<div class="content_content">
								<span>불티훈제치킨 1개</span>
								<span>23,000원</span>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</main>
</body>
</html>