<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/my-layout::layout(~{this::head}, ~{this::main})}">
<head>
<link rel="stylesheet" href="/css/order/order.css">
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script type="text/javascript" th:inline="javascript">
var stompClient=null; 
var storeNo = /*[[${dto.storeNo}]]*/null;
var key=new Date().getTime();
storeNo=parseInt(storeNo);

$(function(){
	$("#btn-bot").click(btnBotClicked);
});

//선택지 선택시 텍스트 추출하여 메세지 보내기
function choiceValueSend(event) {
    let choiceValue = $(event.target).text(); // 클릭된 요소의 텍스트 값을 가져옴
    console.log(choiceValue)
	sendChatbotMessage(choiceValue);
}
function btnCloseClicked(){
	$("#bot-container").hide();
	$("#chat-content").html("");
	disconnect();
}
function btnBotClicked(){
	//1. 소켓 접속
	$("#bot-container").show();
	connect()
}

//1~9 -> 01~09 변환하는 함수
function fomatNumber(number){
	return number<10? '0'+number:''+number;
}

// 시간출력 ex) 오전 9:08
function formatTime(){
	var now=new Date();
	var ampm=(now.getHours()>11)?"오후":"오전";
	var hour=now.getHours()%12;
	if(hour==0)hour=12;
	return `${ampm} ${hour}:${fomatNumber(now.getMinutes())}`;
}

function connect(){
	
	if(stompClient == null) {	
		stompClient=Stomp.over(new SockJS("/store-order"));
	}
	stompClient.connect({},(frame)=>{
		//접속이 완료되면 인사말수신-구독
		
		var data={
			storeNo : storeNo,
		}
		
		//인사말 보내줘
		stompClient.send("/message/order",{},JSON.stringify(data));
		disconnect();
	});
}
function disconnect() {
	stompClient.disconnect(function(){
		stompClient = null;
	});
}
</script>
<script src="/js/order/payment.js" type="text/javascript"></script>
</head>
<main>
	<form>
		<div class="info">
			<div class="flex border_bottom">
				<p>점포정보</p>
				<p>[[${dto.storeName}]]</p>
			</div>
			<div class="flex border_bottom">
				<p>받을주소</p>
				<p>[[${dto.adress}]]</p>
			</div>
			<div class="flex border_bottom">
				<p>전화번호</p>
				<p>[[${dto.tel}]]</p>
			</div>
		</div>
		<div class="pay-info">
			<div class="flex between border_bottom">
				<p>결제 금액</p>
				<p>[[${#numbers.formatInteger(dto.amount, 1, 'COMMA')}]]</p>
			</div>
			<div class="flex between">
				<p>주문 금액</p>
				<p>[[${#numbers.formatInteger(dto.amount, 1, 'COMMA')}]]</p>
			</div>
			<div class="flex between border_bottom">
				<p>배달팁</p>
				<p>0원</p>
			</div>
			<div class="flex between">
				<p>총 결제 금액</p>
				<p>[[${#numbers.formatInteger(dto.amount, 1, 'COMMA')}]]</p>
			</div>
		</div>

		<input type="hidden" value="상품이름" id="itemName"> 
		<input type="hidden" th:value="${dto.amount}" id="itemAmount"> 
		<input type="hidden" value="444" id="storeNo"> 
		<input type="hidden" th:value="${dto.adress}" id="adress"> 
		<input type="hidden" th:value="${dto.tel}" id="memberTel">


		<div class="button-area">
			<button type="button" onclick="payment()">
				<p>결제하기</p>
				<img src="/images/list/card.svg">
			</button>
		</div>
	</form>
</main>
</html>