<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">
	<section class="footer_container">
		<ul class="nav">
			<li>
				<a href="/list">
					<img src="/images/icon/item-list.svg">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/icon/cart.svg">
				</a>
			</li>
			<li>
				<a href="/">
					<img src="/images/icon/home.svg">
				</a>
			</li>
			<li>
				<a href="/order">
					<img src="/images/icon/order-list.svg">
				</a>
			</li>
			<li>
				<a href="/my">
					<img src="/images/icon/my.svg">
				</a>
			</li>
		</ul>
	</section>
</footer>

</html>