<<<<<<< HEAD
@charset "UTF-8";

.login-space {
	margin-top: 60px;
	text-align: center;
	align-content: center;
	vertical-align: middle;
}

.login-event {
	font-size: 1em;
	margin: 30px;
	font-weight: bold;
}

.login-help {
	text-align: center; /* 가운데 정렬 */
	margin-top : 30px;
	font-size: 1em;
}

.login-help > ul {
	justify-content: center;
	display: flex;
}

.login-help > ul > li{
	margin-left: 5px;
	margin-right: 5px;
}
.order-btn {
	width: 70%;
}


.login-button {
	border: none;
	background-color: #dc143c;
	height: 100px;
	border-radius: 30px;
	font-size: 2em;
	font-weight: bold;
	color: #f8f9fa;
	padding: 0 0.8em;
}

.order-space form {
	margin-top: 110px;
	display: flex;
	justify-content: center;
	display: flex;
}

.order-button {
	border: none;
	background-color: transparent;
}


.slider {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.box {
	/*float: left;*/
	width: 100%;
	height: 200px;
	position: relative;
}

img {
	width: 100%;
	height: 100%;
=======
@charset "UTF-8";

.login-space {
	margin-top: 60px;
	text-align: center;
	align-content: center;
	vertical-align: middle;
}

.login-event {
	font-size: 1em;
	margin: 30px;
	font-weight: bold;
}

.login-help {
	text-align: center; /* 가운데 정렬 */
	margin-top : 30px;
	font-size: 1em;
}

.login-help > ul {
	justify-content: center;
	display: flex;
}

.login-help > ul > li{
	margin-left: 5px;
	margin-right: 5px;
}
.order-btn {
	width: 70%;
}


.login-button {
	border: none;
	background-color: #dc143c;
	height: 100px;
	border-radius: 30px;
	font-size: 2em;
	font-weight: bold;
	color: #f8f9fa;
	padding: 0 0.8em;
}

.order-space form {
	margin-top: 110px;
	display: flex;
	justify-content: center;
	display: flex;
}

.order-button {
	border: none;
	background-color: transparent;
}


.slider {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.box {
	/*float: left;*/
	width: 100%;
	height: 200px;
	position: relative;
}

img {
	width: 100%;
	height: 100%;
>>>>>>> refs/remotes/choose_remote_name/master
}