@charset "UTF-8";

.search {
	margin-top: 30px;
	font-size: 40px;
}

.input {
	height: 50px;
	font-size: 40px;
	width: 620px;
}

.btn {
	font-size: 30px;
	border-radius: 10px;
	background-color: #dc143c;
	border: none;
	color: #f8f9fa;
	height: 50px;
	width: 78px;
}