@charset "UTF-8";

.main_container {
	padding: 80px 40px;
}
.main_container > .content {
	border: 1px solid #a9a9a9;
	background-color: #fff;
}

.main_container > .content > li {
	padding: 2em 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main_container > .content > li:not(:last-child){
	border-bottom: 1px solid #a9a9a9;
}

.main_container > .content > li > .left {
	font-size: 1em;
	font-weight: bold;
}

.main_container > .content > li > .right {
	font-size: 1em;
	color: #a9a9a9;
}

.main_container > .menu {
	height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-top: 2em;
    font-weight: bold;
    color: #837f7f;
}

.main_container > .menu > a:first-child {
	margin-right: 30px;
}
