@charset "UTF-8";

.container {
    width: 90%;
    margin: 4em auto;
    text-align: center;
    border: 1px solid #ddd;
    padding: 1em;
}

.title {
    color: #333;
    margin-bottom: 1em;
    font-size: 1em;
}

input[type="text"], input[type="password"] {
   	width: 80%;
    padding: 0.8em;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

button[type="submit"] {
    background-color: #EA5455;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.login_sign{
	
	margin-top: 16px;
}

.container{
	background-color: white;	
}

#signupButton{
	
	color: #EA5455;
}

