<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/my-layout::layout(~{this::head}, ~{this::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/list/list.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<main>
		<section id="slider1" class="slider">
	        <div class="box">
	            <img src="/images/list/배너2.svg" alt="이미지 1">
	        </div>
	        <div class="box">
	            <img src="/images/list/배너1.svg" alt="이미지 2">
	        </div>
	        <div class="box">
	            <img src="/images/list/배너3.svg" alt="이미지 3">
	        </div>
    	</section>
    	<section>
			<form class="form-section">
				<button class="menu-button"><img src="/images/list/delivery-bike.svg">배달</button>
				<button class="menu-button"><img src=/images/list/chicken-packaging.svg>포장</button>
			</form>
		</section>
    	<section class="menu">
			<section class="menu-wrap">
				<div class="menu1">
					<img src=/images/list/치킨1.jpg>
				</div>
				<div class="title1">
					<p>바삭바삭 후라이드</p>
					<p id="eng">fried chicken</p>
					<p>35,000원</p>
				</div>
			</section>
			<section class="menu-wrap">
				<div class="menu1">
					<img src=/images/list/치킨1.jpg>
				</div>
				<div class="title1">
					<p>바삭바삭 후라이드</p>
					<p id="eng">fried chicken</p>
					<p>35,000원</p>
				</div>
			</section>
			<section class="menu-wrap">
				<div class="menu1">
					<img src=/images/list/치킨1.jpg>
				</div>
				<div class="title1">
					<p>바삭바삭 후라이드</p>
					<p id="eng">fried chicken</p>
					<p>35,000원</p>
				</div>
			</section>
		</section>
		<div class="cart-q" style="display: none;">
			<div class="button1-area">
				<button class="button1">X</button>
			</div>
			<p>메뉴를 장바구니에 담았습니다</p>
			<p>장바구니로 이동하시겠습니까?</p>
			<div class="button2-area">
				<button class="button2">취소</button>
				<button class="button3" onclick="location.href='/order'">확인</button>
			</div>
		</div>
    	
    	<script>
			function Slider(target, type) {
			  // 상태
			  let index = 1;
			  let isMoved = true;
			  const speed = 1000; // ms
			
			  // 방향
			  const transform = "transform " + speed / 1000 + "s";
			  let translate = (i) => "translateX(-" + 100 * i + "%)";
			  if (type === "V") {
			    translate = (i) => "translateY(-" + 100 * i + "%)";
			  }
			
			  // 슬라이더
			  const slider = document.querySelector(target);
			  const sliderRects = slider.getClientRects()[0];
			  slider.style["overflow"] = "hidden";
			
			  // 슬라이더 화면 컨테이너
			  const container = document.createElement("div");
			  container.style["display"] = "flex";
			  container.style["flex-direction"] = type === "V" ? "column" : "row";
			  container.style["width"] = sliderRects.width + "px";
			  container.style["height"] = sliderRects.height + "px";
			  container.style["transform"] = translate(index);
			
			  // 슬라이더 화면 목록
			  let boxes = [].slice.call(slider.children);
			  boxes = [].concat(boxes[boxes.length - 1], boxes, boxes[0]);
			
			  // 슬라이더 화면 스타일
			  const size = boxes.length;
			  for (let i = 0; i < size; i++) {
			    const box = boxes[i];
			    box.style["flex"] = "none";
			    box.style["flex-wrap"] = "wrap";
			    box.style["height"] = "100%";
			    box.style["width"] = "100%";
			    container.appendChild(box.cloneNode(true));
			  }
			
			  // 처음/마지막 화면 눈속임 이벤트
			  container.addEventListener("transitionstart", function () {
			    isMoved = false;
			    setTimeout(() => {
			      isMoved = true;
			    }, speed);
			  });
			  container.addEventListener("transitionend", function () {
			    // 처음으로 순간이동
			    if (index === size - 1) {
			      index = 1;
			      container.style["transition"] = "none";
			      container.style["transform"] = translate(index);
			    }
			    // 끝으로 순간이동
			    if (index === 0) {
			      index = size - 2;
			      container.style["transition"] = "none";
			      container.style["transform"] = translate(index);
			    }
			  });
			
			  // 슬라이더 붙이기
			  slider.innerHTML = "";
			  slider.appendChild(container);
			
			  return {
			    move: function (i) {
			      if (isMoved === true) {
			        index = i;
			        container.style["transition"] = transform;
			        container.style["transform"] = translate(index);
			      }
			    },
			    next: function () {
			      if (isMoved === true) {
			        index = (index + 1) % size;
			        container.style["transition"] = transform;
			        container.style["transform"] = translate(index);
			      }
			    },
			    prev: function () {
			      if (isMoved === true) {
			        index = index === 0 ? index + size : index;
			        index = (index - 1) % size;
			        container.style["transition"] = transform;
			        container.style["transform"] = translate(index);
			      }
			    }
			  };
			}
			
			//const s1 = new Slider("#slider1", "H");
			//const s2 = new Slider("#slider2", "V");
			
			$(document).ready(function() {
		    const s1 = new Slider("#slider1", "H");
		
		    setInterval(() => {
		        s1.next();
		    }, 2500);
		

		   $('.title1').click(function() {
		        // 클릭한 요소에서 p 태그들의 텍스트를 가져와서 변수에 저장
		        var koreanText = $(this).find('p:first').text();
		
		        // 현재 선택된 요소의 하위에 있는 .title1, section.selected 클래스를 모두 제거
		        $('.title1, section.selected').removeClass('selected');
		
		        // 클릭한 요소와 해당 상위 section에 선택된 스타일을 추가
		        $(this).addClass('selected');
		        $(this).closest('section').addClass('selected');
		
		     
		
		        $.ajax({
		            type: 'POST',
		            url: '/order',
		            data: {
		                koreanText: koreanText
		            },
		            success: function(response) {
		                console.log('Korean Text:', koreanText);
		            },
		            error: function(error) {
		                console.error('Error:', error);
		            }
		        });
		    });
		});
		</script>
		<script>
	          $('.menu-button').click(function() {
              $('.cart-q').show();
              event.preventDefault()
            });

            // "취소" 버튼 클릭 시 숨겨진 div를 다시 숨기도록 변경
            $('.button2').click(function() {
                $('.cart-q').hide();
            });

		</script>
	</main>
</html>