@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* "a" 태그의 스타일 초기화 */
a {
  color: inherit; /* 부모 요소의 색상을 상속받음 */
  text-decoration: none; /* 기본적으로 밑줄 없음 */
}

/* 방문한 링크의 스타일 초기화 */
a:visited {
  color: inherit; /* 부모 요소의 색상을 상속받음 */
}

/* 마우스 호버 시의 "a" 태그 스타일 초기화 */
a:hover {
  color: inherit; /* 부모 요소의 색상을 상속받음 */
  text-decoration: none; /* 기본적으로 밑줄 추가 */
}

/* 클릭한 상태의 "a" 태그 스타일 초기화 */
a:active {
  color: inherit; /* 부모 요소의 색상을 상속받음 */
}

*{
	font-family: 'Noto Sans KR', sans-serif;
}
:root {
	--bullti1 : #EA5455;
	--bullti2 : #002B5B;
	--bullti3 : #F9F5EB;
	--bullti4 : #E4DCCF;
}
.flex {
	display: flex;
}
.wrap {
	flex-wrap: wrap;
}
.col {
	flex-direction: column;
}
.hcenter {
	align-items: center;
}
.vcenter {
	justify-content: center;
}
.center {
	align-items: center;
	justify-content: center;
}
.between {
	justify-content: space-between;
}
.end {
	justify-content: end;
}

body {
	background-color: #f7f7f7;
}