<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/management/common/header.css">
	<script th:inline="javascript">
		let storeNo = /*[[${storeStatus.no}]]*/ 0;
	</script>
	<script defer src="/js/management/store-order.js"></script>
</head>
<header>
	<div class="header flex col">
		<div class="header-container flex between">
			<table class="store-state">
				<thead>
					<tr>
						<th>가맹점번호</th>
						<th>지점이름</th>
						<th>이름</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${storeStatus.no}">1</td>
						<td th:text="${storeStatus.name}">노원아름터점</td>
						<td th:text="${storeStatus.memberNo.getName}">점주번호</td>
					</tr>
				</tbody>
			</table>
			<div>
				<button id="storeOpenclose">오픈</button>
			</div>
		</div>
	</div>
</header>
</html>