<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/management/common/header.css">
</head>
<header>
	<div class="header flex col">
		<div class="header-container flex between">
			<table class="store-state">
				<thead>
					<tr>
						<th>가맹점번호</th>
						<th>지점이름</th>
						<th>이름</th>
						<th>당일매출</th>
						<th>개점시간</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>노원아름터점</td>
						<td>홍길동</td>
						<td>13,000원</td>
						<td>5시간 30분</td>
					</tr>
				</tbody>
			</table>
			<div>
				<button id="storeOpenclose">오픈</button>
			</div>
		</div>
		<nav>
			<a href="#">
				<button>주문관리</button>
			</a>
			<a href="#">
				<button>판매내역</button>
			</a>
		</nav>
	</div>
</header>
</html>