<!DOCTYPE html>
<html>
	<table class="store-table">
		<thead>
			<tr>
				<th>주문번호</th>
				<th>아이디</th>
				<th>주소</th>
				<th>상품</th>
				<th>수량</th>
				<th>가격</th>
				<th>주문처리</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="dto:${orderList}" class="store-td">
				<td th:text="${dto.no}">1</td>
				<td th:text="${dto.address}">서울시 노원구 상계동 13-1</td>
				<td th:text="${dto.state}">상태</td>
				<td>
					<ul th:if="${dto.orderItem != null}">
					    <li th:each="prod : ${dto.orderItem}" th:text="${prod.item.getName}"></li>
					</ul>

				</td>
				<td class="button-container">
					<button>수락</button>
					<button>취소</button>
				</td>
			</tr>
		</tbody>
	</table>
</html>