<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/my-layout::layout(~{this::head}, ~{this::main})}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/management/login.css}"/>
</head>
<body>
<main>
    <div class="container">
        <h1>로그인</h1>
        
        <form method="post" action="/login" th:if="${error != null}">
		   
		    <input type="text" name="id" placeholder="아이디(메일 형식)" required />
		    <input type="password" name="pass" placeholder="비밀번호" required />
		    <button type="submit">로그인</button>
		  </form>
		
		  <div class="login_sign" th:if="${logout != null}">
		  
		  </div>
        
        <div class="login_sign">계정이 없으신가요? <a id="signupButton" href="/signup">회원가입</a></div>
    </div>
   </main>
</body>
</html>