@charset "UTF-8";

header {
	background-color: #e9e9e9;
	margin-bottom: 50px;
}
.header {
	margin: auto;
	max-width: 1280px;
}
.header-container {
	width: 100%;
	margin-top: 1rem;
}
.store-state {
	background-color: #aaa;
	width: 50%;
}
.store-state th {
	padding: 5px 0;
    border: 1px solid #dddddd; 
} 
.store-state tbody {
	background-color: #fff;
}
.store-state td {
	text-align: center;
	padding: 1em;
    border: 1px solid #dddddd; 
}

#storeOpenclose {
	height: 100%;
	width: 150px;
    font-size: 2rem;
	
    padding: 10px 20px; /* 버튼 내부에 여백 추가 */
    background-color: var(--bullti1); /* 버튼 배경색 */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    transition: background-color 0.3s; /* 배경색 변경 시 부드럽게 변화 */
}