<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/my-layout::layout(~{this::head}, ~{this::main})}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/map/searchstore.css">
<script defer src="/js/search-store/searsearch-store.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0b4d10c092ae135f954caef18aff79de&libraries=services"></script>
<script type="text/javascript">
	function changeStore(row) {
		let storeNo = row.querySelector('input[type="hidden"]').value;
        
        $.ajax({
            url: "/basket/store",
            type: 'post',
            data: {
            	storeNo:storeNo	
            },
            success: function onData (data) {
            	location.href="/basket"
            },
            error: function onError (error) {
                console.error(error);
            }
        });
	}
</script>
</head>
<body>
	<main>
		<div id="map" style="width: 100%;"></div>
		<div id="menu_wrap" class="search" style="width: 100%;">
			<div class="option">
				<div class="search">
					<form onsubmit="searchFunction(); return false;">
						<div style="margin-top: 2vw; text-align: center;">
							<input class="input" type="text" id="keyword" size="45">
							<button class="btn" type="submit">
								<span class="btn">찾기</span>
							</button>
						</div>
					</form>
				</div>
			</div>
			<hr>
			<table class="content">
				<colgroup>
					<col width="18%" />
					<col width="60%" />
					<col width="20%" />
				</colgroup>
				<thead>
					<tr>
						<th>매장명</th>
						<th>주소</th>
						<th>전화번호</th>
					</tr>
				</thead>
				<tbody id="dynamic_table">
					<tr th:each="post : ${list}" th:onclick="changeStore(this)">
						<input type="hidden" th:value="${post.id}">
						<td th:text="${post.name}"></td>
						<td th:text="${post.location}+${post.LocationDetail}"></td>
						<td th:text="${post.phone}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
</body>
</html>